<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mis Seen Gallery</title>

    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header><h1>Mis Seen Gallery<h1></header>

  <body>
    <nav>
      <ul>
          <li><a href="/artist">Artist</a></li>
          <li><a href="/exhibition">Exhibitions</a></li>
          <li><a href="/visitor">Visitor</a></li>
        </ul>
        </nav>


<%= yield %>
</body>



</html>
