<form action="/manager/artists/<%= @artist.id%>/edit" method="post">


<div class="field">
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= @artist.name %>">
  </div>

  <input type="submit" value="Edit Artist">
</form>
