<p> Name <%= @artist.name %></p>

<form method = "post" action = "/manager/artists/<%= @artist.id %>/delete">

<input type= "submit" value= "delete entry"/>

</form>

<form method = "get" action = "/manager/artists/<%= @artist.id %>/edit">

  <input type = "submit" value= "edit entry"/>


<form method = "get" action = "/manager/artists/<%= @artist.id %>/add">

  <input type = "submit" value= "add entry"/>

</form>
