<form method = "post" action = "/manager/exhibitions">

<label for="name">name:</label>
<input id="name" type="text" name="name"/>
<label for="opening">opening time:</label>
<input for="opening" type="text" name="opening"/>
<label for="closing">closing time:</label>
<input for="closing" type="text" name="closing"/>
<label for="entry_fee">entry fee:</label>
<input for="entry_fee" type="text" name="entry_fee"/>




<input type="submit" value="Save Exhibtion"/>

</form>
